<!-- CONTEUDO LOGO -->
<div>
    <h4>COTAÇÕES</h4>
</div>

<!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"> -->
<table datatable class="row-border hover">
    <thead>
      <tr>
        <th>From Currency Code</th>
        <th>to Currency Code</th>
        <th>Cotacao</th>
        <th>Data/Hora Cotacao</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quotation of listQuotation" class="center-text" >
        <td>{{ quotation.fromCurrencyCode }}</td>
        <td>{{ quotation.toCurrencyCode }}</td>
        <td>{{ quotation.cotacao }}</td>
        <td>{{ quotation.dataHoraCotacao }}</td>
      </tr>
    </tbody>
    </table>